.sidebar {
  width: 260px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-right: 1px solid #E5E7EB;
  position: fixed;
  /* Agar sidebar tetap diam saat scroll */
  height: 100vh;
  left: 0;
  top: 0;
}

.logoArea {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 50px;
}

.brandName {
  font-size: 20px;
  font-weight: 800;
  color: #0D1421;
}

.menuGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.menuTitle {
  font-size: 12px;
  color: #9CA3AF;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* Menu Item Default (Inactive) */
.menuItem {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px 18px;
  border-radius: 12px;
  text-decoration: none;
  color: #4B5563;
  /* Abu-abu gelap */
  font-weight: 500;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.menuItem:hover {
  transform: translateX(4px);
}

/* Menu Item Active (Biru) */
.activeMenu {
  background-color: #204DD2;
  color: #FFFFFF;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(32, 77, 210, 0.25);
}

.footer {
  margin-top: auto;
}